.nav-link {
  color: var(--color-white) !important;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--color-beige) !important;
}
.nav-link.active {
  color: var(--color-darkbeige) !important;
}
@media (min-width: 992px) {
  .nav-link {
    padding: 8px 15px !important;
  }
}
@media (min-width: 1200px) {
  .nav-link {
    padding: 8px 25px !important;
  }
}
